<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To Do list</title>
        <h1 style="color:blueviolet">To Do list</h1>
        <h2 style="color:green"><%= nameofday %> </h2>
    </head>
    <body>
        <ul>
           <% for(var i=0;i<newItem.length;i++) { %>
            <li><%=  newItem[i]  %></li>
         <% } %>
        </ul>
          <form method="post" action="/">
        <input type="text" name="newItem"/>
        <input type="submit"/>
        </form>
    </body>
</html>